<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Новостной сайт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'contact' %}">Контакты</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'add_news' %}">Добавить новость</a></li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        Добро подаловать {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
        {% else %}
        <span class="navbar-text">
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Авторизация</a>
        </span>
        {% endif %}
    </div>
</nav>